*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    display: flex; 
    height: 100vh; 
}

.left-side {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* İçeriği dikey olarak ortalar */
    align-items: center;
    color:#404040;
}

.left-side img {
    width: 100%; /* Görüntüyü konteynerin yarısı genişliğinde yapar */
    height: auto; /* Yükseklik otomatik ayarlanır */
}

.left-side h1 {
    align-self: flex-start;
    padding-left: 20px;
}

.left-side p {
   font-size: 20px;
}


.right-side {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
    background-color: #FF4F5A;
    /* padding: 5px; */
    color: black;
}


.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 80px;
    margin-bottom:20px;

    
}

.form-section{
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 220px;
    height: 40px;
    flex:1;
    margin-top: 15px;
    border-radius: 10px;
    background-color: white;
    padding: 5px;

}

#last-name,
#phone,
#confirm-password {
    margin-left: 150px; /* Soldaki elemandan 20px boşluk bırakır */
}

.registerbtn {
    padding: 10px 20px; 
    font-size: 15px; 
    border-radius: 10px;
    background-color:#E3C8FD;
    margin-top: 50px;
    width: 180px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-color: #E3C8FD;
   
} 


.registerbtn:hover{
    cursor: pointer;
}
/* 




input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    margin: 5px; 
    padding: 12px; 
    font-size: 16px; 
    flex: 1; 
    margin-left: 20px; 

    width: 220px;
    height: 130;
}

.registerbtn {
    padding: 10px 20px; 
    font-size: 15px; 
    border-radius: 10px;
    background-color:#E3C8FD;

    margin-top: 20px;
   
} */
